---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"svg"> & {
  href: string;
};

const { class: className, href, ...props } = Astro.props;
---

<a href={href} target="_blank" rel="noopener noreferrer">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="144"
    height="24"
    viewBox="0 0 144 24"
    class:list={[className, "fill-current"]}
    {...props}
  >
    <path
      d="M131.6 24V10.4H131.56C131.56 14.8536 128.952 20 123.6 20V15.6C130.189 15.6038 131.6 10.8594 131.6 8H135.6C135.6 10.8594 137.011 15.6038 143.6 15.6V20C138.248 20 135.64 14.8536 135.64 10.4H135.6V24H131.6Z"
    ></path>
    <path
      d="M131.6 16V2.4H131.56C131.56 6.8536 128.952 12 123.6 12V7.6C130.189 7.6038 131.6 2.8594 131.6 0H135.6C135.6 2.8594 137.011 7.6038 143.6 7.6V12C138.248 12 135.64 6.8536 135.64 2.4H135.6V16H131.6Z"
    ></path>
    <path
      d="M111.374 23.9905C110.231 23.9905 109.145 23.7909 108.147 23.3975C107.152 23.0057 106.273 22.4335 105.535 21.6965C104.78 20.9437 104.192 20.0393 103.788 19.0085C103.366 17.9329 103.152 16.7387 103.152 15.4591C103.152 14.2669 103.359 13.1361 103.767 12.0983C104.166 11.0853 104.745 10.1891 105.488 9.43447C106.233 8.67787 107.118 8.08807 108.12 7.68167C109.151 7.26327 110.277 7.05127 111.467 7.05127C112.657 7.05127 113.792 7.26927 114.804 7.69907C115.756 8.10327 116.593 8.68627 117.293 9.43187C117.964 10.1473 118.486 10.9877 118.845 11.9297C119.2 12.8615 119.381 13.8515 119.381 14.8725C119.381 15.7093 119.287 16.5525 119.194 17.0171L119.183 17.0733H107.141C107.413 18.1225 107.963 18.9881 108.734 19.5805C109.504 20.1721 110.481 20.4847 111.559 20.4847C112.373 20.4847 113.192 20.2857 113.929 19.9095C114.618 19.5571 115.182 19.0711 115.515 18.5411L115.553 18.4795L118.48 20.4733L118.443 20.5305C117.783 21.5605 116.83 22.4179 115.687 23.0099C114.431 23.6605 112.98 23.9905 111.374 23.9905H111.374ZM115.498 13.8449C115.42 12.9665 115.007 12.1443 114.33 11.5229C113.576 10.8303 112.586 10.4643 111.467 10.4643C110.348 10.4643 109.429 10.7951 108.67 11.4211C107.955 12.0111 107.438 12.8477 107.172 13.8449H115.498Z"
    ></path>
    <path
      d="M92.9448 23.5199V7.51992H96.9142V12.2705C97.0016 11.7467 97.1282 11.1585 97.2934 10.7095C97.5898 9.90392 98.0128 9.21752 98.5506 8.66972C99.5458 7.65592 100.931 7.12012 102.557 7.12012V11.5149H100.581C99.449 11.5149 98.5098 11.8835 97.8644 12.5811C97.2716 13.2219 96.945 14.1345 96.945 15.1507V23.5201H92.9448V23.5199Z"
    ></path>
    <path
      d="M81.8542 23.9906C76.8392 23.9906 73.1992 20.4286 73.1992 15.5208C73.1992 14.322 73.417 13.1832 73.8466 12.1364C74.2648 11.1172 74.871 10.2142 75.6482 9.45283C76.4258 8.69103 77.3482 8.09663 78.3896 7.68663C79.4606 7.26483 80.6262 7.05103 81.8542 7.05103C84.1952 7.05103 86.3702 7.90383 87.9788 9.45243C89.6106 11.0234 90.5094 13.1786 90.5094 15.5208C90.5094 17.863 89.6106 20.034 87.9788 21.6008C86.374 23.1418 84.1988 23.9904 81.8544 23.9904L81.8542 23.9906ZM81.8542 10.7116C80.59 10.7116 79.4302 11.188 78.5884 12.053C77.7324 12.9326 77.261 14.1642 77.261 15.5208C77.261 16.235 77.3804 16.9036 77.6158 17.5084C77.8414 18.0878 78.1684 18.5974 78.5882 19.023C79.4196 19.8658 80.5794 20.33 81.8542 20.33C83.129 20.33 84.289 19.8658 85.1202 19.023C85.5398 18.5976 85.867 18.088 86.0926 17.5084C86.328 16.9036 86.4474 16.2348 86.4474 15.5208C86.4474 14.1642 85.976 12.9326 85.12 12.053C84.2782 11.188 83.1184 10.7116 81.8542 10.7116Z"
    ></path>
    <path
      d="M66.8284 23.5196V14.0692C66.8284 12.1716 65.603 10.8966 63.7794 10.8966C62.9234 10.8966 62.1492 11.2204 61.5994 11.8086C61.031 12.4166 60.7304 13.2516 60.7304 14.2236V23.5196H56.7302V14.0692C56.7302 13.166 56.4206 12.3526 55.8584 11.779C55.301 11.21 54.5168 10.8968 53.6502 10.8968C52.7836 10.8968 51.9688 11.2238 51.4092 11.8426C50.8682 12.4408 50.5704 13.2864 50.5704 14.2238V23.5198H46.5702V7.51963H50.5704V11.2426C50.771 10.1858 51.1846 9.28283 51.7948 8.58423C52.671 7.58123 53.9 7.05103 55.3488 7.05103C56.7976 7.05103 58.0682 7.50743 58.9868 8.37083C59.4948 8.84823 59.897 9.44903 60.1822 10.1564C60.3896 10.6706 60.5364 11.245 60.621 11.8716C60.7832 10.5 61.2576 9.35523 62.014 8.52523C62.893 7.56083 64.1122 7.05103 65.5398 7.05103C67.2048 7.05103 68.5822 7.64163 69.523 8.75903C70.365 9.75903 70.8288 11.1622 70.8288 12.7106V23.5198H66.8286L66.8284 23.5196Z"
    ></path>
    <path
      d="M40.7736 23.5197C39.2222 23.5197 38.0082 23.1597 37.1656 22.4493C36.2142 21.6475 35.7318 20.3943 35.7318 18.7247V11.0565H33.229V7.51953H35.7936V3.51953H39.6702V7.51953H43.8098V11.0565H39.6702V18.3541C39.6702 19.4019 40.1386 19.8899 41.1442 19.8899H43.47V23.5195H40.7736V23.5197Z"
    ></path>
    <path
      d="M24.0988 23.9905C22.956 23.9905 21.87 23.7909 20.8712 23.3975C19.877 23.0057 18.998 22.4335 18.2592 21.6965C17.5044 20.9437 16.9166 20.0393 16.5122 19.0085C16.0902 17.9329 15.8762 16.7387 15.8762 15.4591C15.8762 14.2669 16.0834 13.1361 16.492 12.0983C16.8908 11.0853 17.4696 10.1891 18.2124 9.43447C18.9572 8.67787 19.8428 8.08807 20.8444 7.68167C21.8754 7.26327 23.0014 7.05127 24.1914 7.05127C25.3814 7.05127 26.5166 7.26927 27.5288 7.69907C28.4806 8.10327 29.3178 8.68627 30.0172 9.43187C30.6884 10.1473 31.2108 10.9877 31.5698 11.9297C31.925 12.8615 32.1052 13.8515 32.1052 14.8725C32.1052 15.7093 32.0114 16.5525 31.9186 17.0171L31.9074 17.0733H19.8652C20.138 18.1225 20.6878 18.9881 21.4586 19.5805C22.2284 20.1721 23.2054 20.4847 24.284 20.4847C25.0974 20.4847 25.9168 20.2857 26.6532 19.9095C27.3428 19.5571 27.9062 19.0711 28.2394 18.5411L28.278 18.4795L31.2044 20.4733L31.1676 20.5305C30.5078 21.5605 29.5548 22.4179 28.4118 23.0099C27.1558 23.6605 25.7046 23.9905 24.0986 23.9905H24.0988ZM28.2228 13.8449C28.144 12.9665 27.731 12.1443 27.0546 11.5229C26.3006 10.8303 25.3106 10.4643 24.1914 10.4643C23.0722 10.4643 22.1538 10.7951 21.3948 11.4211C20.6796 12.0111 20.1628 12.8477 19.8966 13.8449H28.223H28.2228Z"
    ></path>
    <path
      d="M6.7578 23.9941C3.453 24.0263 0.5668 22.2453 0 18.9885L3.6294 18.0571C3.8822 19.7353 5.3706 20.5997 7.0362 20.5865C8.4082 20.5659 9.898 20.1973 9.9956 18.8545C10.0552 16.4885 4.4538 17.5295 2.2532 15.3717C1.3192 14.5643 0.8456 13.4793 0.8456 12.1465C0.883 8.79254 3.9596 6.99274 7.2834 7.03794C10.8312 7.03854 13.4406 8.90594 13.9168 11.7959L10.3798 12.7285C10.1798 11.2433 8.7532 10.3163 7.2526 10.3419C6.0458 10.3521 4.8034 10.7325 4.726 11.9303C4.726 12.6685 5.281 13.1145 6.5252 13.3765C8.4234 13.7761 11.5222 14.2419 12.6998 15.6055C13.5214 16.4151 13.9378 17.4561 13.9378 18.7001C13.8644 22.4659 10.4812 24.0023 6.758 23.9943L6.7578 23.9941Z"
    ></path>
  </svg>
</a>
