@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  body {
    font-family: "IBM Plex Sans", sans-serif;
    /* font-family: "Inter", sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    text-decoration: underline;
  }
}

@theme {
  /* --color-primary: var(--color-neutral-900);
  --color-secondary: var(--color-neutral-500);

  --color-canvas: var(--color-neutral-50); */

  /* Dark Mode centric */

  --color-primary: var(--color-neutral-50);
  --color-secondary: var(--color-neutral-400);

  --color-canvas: var(--color-neutral-900);
}

.prose {
  --tw-prose-body: var(--color-primary);
  --tw-prose-headings: var(--color-primary);
}
