---
import MainLayout from "../components/MainLayout.astro";
import { Content } from "../content/projects.mdx";
---

<MainLayout
  title="My Projects | Thanigaivel"
  description="A collection of my projects"
  heading="Projects"
>
  <div class="prose">
    <Content />
  </div>
</MainLayout>
