---
import HeaderLink from "./HeaderLink.astro";
---

<header
  class="border-0 md:border-r border-gray-300 md:text-right md:pe-12 lowercase font-mono text-sm fixed z-10 bg-canvas md:w-auto w-full start-0 bottom-0 md:static px-4 md:px-0 py-4 md:py-0"
  transition:persist="header"
>
  <nav class="flex flex-row md:gap-1 md:flex-col gap-2 justify-evenly">
    <HeaderLink href="/">about</HeaderLink>
    <HeaderLink href="/thoughts">Thoughts</HeaderLink>
    <HeaderLink href="/projects"> Projects</HeaderLink>
    <HeaderLink href="/experiences">Experiences</HeaderLink>
  </nav>
</header>
